<!DOCTYPE html >
<html>
	<head>
		<meta name="viewport"	content="width=device-width,initial-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="apple-touch-icon" href="./icon.jpg" />
		<link href="http://demandware.edgesuite.net/aabm_prd/on/demandware.static/Sites-BNY-Site/-/default/v1326703028555/images/favicon.ico" rel="shortcut icon">
		<title>Ping</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	</head>
  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/login' %>


    <%= yield %>

  </body>
</html>
